body{
    font-family: 'The Nautigal', cursive;
    margin: 0;
}
#Allah{
    font-size: 50px;
}
.green-color{
    color: greenyellow;
}
.red-color{
    color: hotpink;
}
.yellow-colo{
    color: indigo;
}
.das-color{
    color: lawngreen;
}
h3{
    font-size: 30px;
}
p{
    font-size: 20px;
   
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 3%;
 
}
.half-width img{
width: 80%;
height: 50%;


}
.big-font{
    font-size: 30px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(purple,rgb(114, 250, 121));
    padding: 5px 15px;
    border-radius: 10%;
    color: yellow;
    font-weight: 700px;

}
.top-image{
    background-image: url(images/images.jfif.2.jfif);
    background-repeat: no-repeat;
    background-le
}

